<section id="main-content">
  <section class="wrapper site-min-height">
    <!-- page start-->
    <div class="chat-room mt">
      <aside class="mid-side">
        <div class="chat-room-head">
          <h3>Chat Room: Support</h3>
          <form action="#" class="pull-right position">
            <input type="text" placeholder="Search" class="form-control search-btn ">
          </form>
        </div>
        <div class="group-rom" ng-repeat="message in messages">
          <div class="first-part">{{message.user_name}}</div>
          <div class="second-part">{{message.body}}</div>
          <div class="third-part">{{message.created_at | date:'shortTime'}}</div>
        </div>
          <footer>
            <div class="chat-txt">
              <input type="text" ng-model="newMessage.body" class="form-control">
            </div>
            <button class="btn btn-theme" ng-click="createMessage()">Send</button>
            <div class="btn-group hidden-sm hidden-xs">
              <button type="button" class="btn btn-white"><i class="fa fa-meh-o"></i></button>
              <button type="button" class="btn btn-white"><i class=" fa fa-paperclip"></i></button>
            </div>
          </footer>
        </aside>                  
        <aside class="right-side">
          <div class="user-head">
            <a ng-click="closeConnection()" class="chat-tools btn-theme"><i class="fa fa-cog"></i> </a>
            <a href="#" class="chat-tools btn-theme03"><i class="fa fa-key"></i> </a>
          </div>
          <div class="invite-row">
            <h4 class="pull-left">{{chatters.length}} Chatters</h4>
            <a href="#" class="btn btn-theme04 pull-right">+ Invite</a>
          </div>
          <ul class="chat-available-user">
            <li ng-repeat="chatter in chatters">
              <a>
                <img class="img-circle" src="/assets/friends/fr-05.jpg" width="32">
                {{chatter.name}}
                <!-- <span class="text-muted">1h:08m</span> -->
              </a>
            </li>
            <!-- <li>
              <a href="chat_room.html">
                <img class="img-circle" src="/assets/friends/fr-02.jpg" width="32">
                Paul Brown
                <span class="text-muted">1h:02m</span>
              </a>
            </li>
            <li>
              <a href="chat_room.html">
                <img class="img-circle" src="/assets/friends/fr-05.jpg" width="32">
                David Duncan
                <span class="text-muted">1h:08m</span>
              </a>
            </li>
            <li>
              <a href="chat_room.html">
                <img class="img-circle" src="/assets/friends/fr-07.jpg" width="32">
                Laura Smith
                <span class="text-muted">1h:10m</span>
              </a>
            </li>
            <li>
              <a href="chat_room.html">
                <img class="img-circle" src="/assets/friends/fr-08.jpg" width="32">
                Julia Schultz
                <span class="text-muted">3h:00m</span>
              </a>
            </li>
            <li>
              <a href="chat_room.html">
                <img class="img-circle" src="/assets/friends/fr-01.jpg" width="32">
                Frank Arias
                <span class="text-muted">4h:22m</span>
              </a>
            </li> -->
          </ul>
        </aside>
      </div>
      <!-- page end-->      
    </section><!--/wrapper -->
  </section><!-- /MAIN CONTENT -->


  <!--footer end-->
</section>