a {
  cursor: pointer;
}

.modal.fade.in .modal-dialog .modal-content .sign-in-modal {
  width: 330px;
  height: 426px;
}


.modal-content {
  width: 330px;
  height: 426px;
}

.sign-in-modal {
  margin-top: -107px;
}